body{
    width: 100%;
    margin: 0;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}





@media (max-width: 1440px) {

}

@media (max-width: 1025px) {

}

@media (max-width: 768px) {

}

@media (max-width: 500px) {
    
}

@media (max-width: 450px) {

}
