body{
    width: 100%;
    margin: 0;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}

.banner-info-wrapper{
    display: flex;
    width: 100%;
    /*padding-top: 140px;*/
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}
.banner-info-main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-slider{
   display: none;
}
.banner-info-image p{
    display: none;
}
.banner-info-title{
    color: white;
    font-family: Roboto;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 5px 6px black;
}
.banner-text-title{
    color: white;
    font-family: Roboto;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 70px;
}
.banner-text{
    width: 40%;
    color: white;
    font-family: Roboto;
    font-size: 1rem;
    text-align: center;
    margin-top: 40px;
}
.banner-btn{
    width: 250px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: Roboto;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #5299B2;
    text-align: center;
    margin-top: 40px;
    cursor: pointer;
}
.dots-wrapper{
    position: absolute;
    bottom: 25px;
    display: flex;
    width: 60px;
    justify-content: space-between;
}
.dot{
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-radius: 45px;
    background-color: #7F7E7C;
}

.who-are-we-wrapper{
    width: 100%;
    height: 650px;
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}

.who-are-we-image{
    width: 50%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.who-are-we-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 8%;
    background-color: #f2f2f2;
    padding-top: 20px;
}

.who-are-we-title{
    color: #444343;
    margin-bottom: 60px;
    font-family: Roboto;
    font-size: 3.4rem;
    font-weight: bold;
}

.who-are-we-text{
    margin-bottom: 60px;
    font-family: Roboto;
    font-size: 1.3rem;
    color: #5A5A5A;
}

.who-are-we-button{
    width: 250px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: Roboto;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #5299B2;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 0px solid;
    cursor: pointer;
}

.real-estate-wrapper{
    width: 100%;
    background-image: url("../images/front-page/0.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    object-fit: cover;
    background-size: cover;
}

.real-estate-block{
    position: relative;
    height: 500px;
    width: 30%;
    background: #5299B2;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.real-estate-text{
    color: white;
    font-family: Roboto;
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
}

.real-estate-button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.real-estate-img{
    width: 25px;
    height: 25px;
}


.why-dubai-wrapper{
    width: 100%;
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}

.why-dubai-image{
    width: 50%;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

.why-dubai-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 8%;
    background-color: #f2f2f2;
}

.why-dubai-title{
    color: #444343;
    margin-bottom: 60px;
    font-family: Roboto;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.why-dubai-text{
    margin-bottom: 60px;
    font-family: Roboto;
    font-size: 1rem;
    text-align: center;
}

.why-dubai-button{
    width: 250px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: Roboto;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #5299B2;
    text-align: center;
    margin-top: 40px;
    border: 0px solid;
    cursor: pointer;
}

.plots-develop-wrapper{
    width: 100%;
    margin-bottom: 20px;
    background-image: url("../images/front-page/16.png");
    display: flex;
    justify-content: left;
    align-items: center;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.plots-develop-block{
    position: relative;
    height: 500px;
    width: 30%;
    background: #5299B2;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plots-develop-text{
    color: white;
    font-family: Roboto;
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
}

.plots-develop-button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.plots-develop-img{
    width: 25px;
    height: 25px;
}

.partners-text{
    width: 100%;
    background-color: #f2f2f2;
    height: auto;
    color:#5A5A5A;
    padding-top: 50px;
    padding-bottom: 50px;
}
.partners-text p{
    width: 70%;
    text-align: center;
    font-family: Roboto;
    font-size: 1.1rem;
    margin: 0 auto;
    margin-bottom: 30px;
}

.want-to-find-wrapper{
    height: 500px;
    background: #5299B2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
}

.want-to-find-wrapper h2{
    color: white;
    font-family: Roboto;
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
}

.want-to-find-wrapper p{
    margin-bottom: 60px;
    margin-top: 60px;
    max-width: 700px;
    font-family: Roboto;
    color: white;
    font-size: 1.5rem;
    text-align: left;
}

.want-to-find-button{
    width: 70px;
    height: 72px;
    background: #313035;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.want-to-find-img{
    width: 25px;
    height: 25px;
}

.want-to-find-block{
    width: 70%;
    height: 70px;
    display: flex;
}

.want-to-find-input{
    width: 70%;
    height: 70px;
    border: 0px solid;
    padding-left: 40px;
}

footer{
    display: grid;
    grid-template-areas: 'left right' 'social social';
    grid-template-columns: 50% 50%;
    background: #313035;
    padding: 40px 60px 10px;
    grid-row-gap: 40px;
}

.left-h-href{
    grid-area: left;
    display: flex;
    flex-direction: column;
}

.left-h-href ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Roboto;
    font-size: 1rem;
}

.right-h-href{
    grid-area: right;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.right-h-href ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: flex-end;
    font-family: Roboto;
    font-size: 1rem;
}

.right-h-href ul li{
    margin-bottom: 5px;
}

.left-h-href ul li{
    margin-bottom: 5px;
}

.social-h-href{
    grid-area: social;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-h-href ul{
    max-width: 80%;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Roboto;
    font-size: 1rem;
}

.social-h-href a{
    color: #5299B2;
}

.social-h-href ul li{
    width: 33%;
    text-align: center;
    margin-bottom: 20px;
}

.social-h-href ul li:last-child{
    width: 100%;
}

footer a{
    width: 100%;
}

footer li{
    width: 100%;
}



@media (max-width: 1440px) {

}
@media (max-width: 1025px) {

}
@media (max-width: 768px) {

    .want-to-find-wrapper h2{
        text-align: left;
    }

        .banner-text{
            width: 70%;
        }

        .who-are-we-wrapper {
            flex-direction: column-reverse;
        }
    .who-are-we-image {
        width: 100%;
        height: 500px;
    }
    .who-are-we-title{
        font-size: 2.7rem;
        padding-left: 20px;
        padding-top: 20px;
    }
    .who-are-we-text{
        padding-left: 20px;
    }
    .who-are-we-button{
        margin-left: 20px;
    }
    .who-are-we-container {
        width: 100%;
        margin-top: 50px;
        padding: 0;
    }
    .who-are-we-wrapper{
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        margin-bottom: 20px;
    }

    .why-dubai-wrapper {
        flex-direction: column;
    }
    .why-dubai-image {
        width: 100%;
    }

    .why-dubai-container {
        margin-bottom: 30px;
    }

    .plots-develop-block {
        width: 53%;
    }

    .plots-develop-text {
        font-size: 2.0rem;
    }

    .want-to-find-wrapper h2 {
        font-size: 2.0rem;
    }

    .real-estate-block {
        width: 53%;
    }
    .real-estate-text {
        font-size: 2.0rem;
    }



}

@media (max-width: 500px) {

    .want-to-find-block {
        width: 90%;
    }

    .want-to-find-input {
        padding-left: 10px;
    }

    .social-h-href ul li{
        width: 100%;
        justify-content: flex-start;
        text-align: left;
        margin-bottom: 0;
    }

    .social-h-href{
        width: 300px;
    }

    .social-h-href ul{
        max-width: 100%;
    }

    .right-h-href{
        text-align: left;
    }

}

@media (max-width: 450px) {

    .plots-develop-block {
        width: 75%;
    }

    .real-estate-block {
        width: 75%;
    }

    footer {
        grid-template-areas:
        'left'
        'right'
        'social';
        padding: 10px;
    }


}
